<div id="<%= dom_id shop_schedule %>">
  <p>
    <strong>Day:</strong>
    <%= shop_schedule.day %>
  </p>

  <p>
    <strong>Opening time:</strong>
    <%= shop_schedule.opening_time %>
  </p>

  <p>
    <strong>Half time:</strong>
    <%= shop_schedule.half_time %>
  </p>

  <p>
    <strong>Open after half time:</strong>
    <%= shop_schedule.open_after_half_time %>
  </p>

  <p>
    <strong>Closing time:</strong>
    <%= shop_schedule.closing_time %>
  </p>

  <p>
    <strong>Day status:</strong>
    <%= shop_schedule.day_status %>
  </p>

</div>
