<p style="color: green"><%= notice %></p>

<div class="container">
  <h3 class="text-center">Shop schedules</h3>
  <div id="shop_schedules">
    <table class="table table-bordered table-striped shadow ">
      <thead class="table-dark">
        <tr>
          <th><%= t(:day) %></th>
          <th><%= t(:opening_time) %></th>
          <th><%= t(:half_time) %></th>
          <th><%= t(:after_half_time) %></th>
          <th><%= t(:closing_time) %></th>
          <th><%= t(:day_status) %></th>
          <th><%= t(:shop) %></th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @shop_schedules.each do |schedule| %>
          <tr>
            <td><%= schedule.day %></td>
            <td><%= schedule.opening_time && schedule.opening_time.strftime("%H:%m:%S")  %></td>
            <td><%= schedule.half_time && schedule.half_time.strftime("%H:%m:%S") %></td>
            <td><%= schedule.open_after_half_time && schedule.open_after_half_time.strftime("%H:%m:%S") %></td>
            <td><%= schedule.closing_time && schedule.closing_time.strftime("%H:%m:%S") %></td>
            <td><%= schedule.day_status %></td>
            <td><%= schedule.shop && schedule.shop.name %></td>
            <td><%= link_to "Show", schedule, class:"btn btn-dark btn-sm" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
