<p style="color: green"><%= notice %></p>

<%= render @shop_schedule %>

<div>
  <%= link_to "Edit this shop schedule", edit_shop_schedule_path(@shop_schedule) %> |
  <%= link_to "Back to shop schedules", shop_schedules_path %>

  <%= button_to "Destroy this shop schedule", @shop_schedule, method: :delete %>
</div>
